* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
    width: 80vw;
    margin: 0 auto;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.main {
    flex: 1 0 auto;
    background-color: #F9F6EE;
    padding: 40px;
}

.header, .footer {
    background-color: #F9F6EE;
    padding: 40px;
}

/* Header */

.header, .site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    max-width: 100px;
    margin: 20px;
}

.title {
    flex: 1; 
    padding: 40px;
}

.nav-toggle {
    flex: 0 0 auto;
}

.profile-pic {
    width: 200px;
    border-radius: 20px;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
        text-align: center;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 100%;
    }
}

.title * {
    color: #2E4F4F;;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #2E4F4F;
}

.footer a {
    color: #2E4F4F;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #2E4F4F;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}
