@use '../../node_modules/normalize.css/normalize';
@use 'variables';

@use 'menu-light';
@use 'blockquotes';
@use 'code';

@use 'technology';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

html {
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: variables.$font-primary;
  font-size: variables.$font-size-base;
  background-color: rgba(variables.$light-background-color, 0.9);
  line-height: 1.5;
}

.content-wrapper {
  max-width: 60vw;
  margin: 0 auto;
  padding: 0 20px; 
}

/* LINKS */
a {
  color: #036;
  text-decoration: underline;
}

a:hover {
  color: #0055a4; 
}

/* Hide navbar-smenu */
.hidden {
  display: none !important;
}

/* HOME-PAGE */
.home-page {
  .header {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    min-height: 100vh;
    background-image: url('../../../assets/img/bg.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main {
    flex: 1;
    background-color: variables.$light-background-color;
    color: variables.$light-font-color;
    padding: 40px 0;
  }
}
/* ABOUT-PAGE */
.about-page {
  .main {
    flex: 1;
    min-height: 60vh;
    background-color: variables.$light-background-color;
    color: variables.$light-font-color;
  }
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* LOGO */
.logo img {
  width: 20vw;
  max-width: 200px;
  height: auto;
}

/* MAIN */
.main {
  flex: 1;
  background-color: variables.$light-background-color;
  color: variables.$light-font-color;
  padding: 40px 0;

  .content-wrapper {
    max-width: 60vw;
    margin: 0 auto;
    padding: 0 20px; 
  }
}
/* TEXT */
h1,
h2,
h3 {
  font-family: variables.$font-secondary;
  font-weight: 400;
}

/* IMAGE */
.main img {
  width: 100%;
}

img,
embed,
object,
video {
  max-width: 100%;
}

/* PROFILPICTURE */
.profile-pic {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 10%;
  border: 10px solid variables.$light-complement-color2;
  float: right;
  margin: 0 0 60px 100px;
}

/* VIDEO */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* FOOTER*/
.footer {
  background-color: variables.$light-complement-color2;
  padding: 10px;
  padding-right: 20px;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.footer a {
  font-size: 24px;
  transition: color 0.3s ease;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background-color: rgba(43, 43, 43, 0.308);
    box-shadow: 0 0 15px rgba(43, 43, 43, 0.7);
    border-radius: 100%;
  }

  i {
    display: inline-block;
  }
}

/* RESPONSIVITY */
@media (max-width: 768px) {
  .profile-pic {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    float: none;
  }

  body {
    font-size: variables.$font-size-medium;
  }
  
  img,
  embed,
  object,
  video {
    max-width: 100%;
    height: auto;
  }

  .main .content-wrapper {
    max-width: 100vw;
  }

  .content-wrapper {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 10px; 
  }

  .home-page,
  .about-page {
    .header {
      background-image: none;
      min-height: 10vh;
    }

    .main {
      flex: 1;
      max-width: 100vw;
      background-color: variables.$light-background-color;
      color: variables.$light-font-color;
      padding: 0;
      text-align: center;
    }
  }
}
