$background-color: #e1a95f;
$background-light-color: #f5f5dc;
$background-dark-color: #333;
$background-darker-color: #222;

$font-primary: 'Josefin Sans', serif;
$font-secondary: 'Playwrite GB S', sans-serif;
$font-menu: 'Bebas Neue', sans-serif;

$font-size-base: 16px;
$font-size-small: 14px;
$font-size-medium: 34px;
$font-size-large: 44px;

$font-dark-color: #333;
$font-light-color: #f5f5dc;
$font-accent-color: #4682b4;
