
{% include 'incl/header.twig' %}

<body class="{% if current_page.title == 'About' %}about-page{% elseif current_page.title == 'Home' %}home-page{% endif %}">
        {% include 'incl/nav.twig' %}
        
    <div class="main" role="main">
        <div class="content-wrapper">
            {{ content }}
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
